html, body, .container-fluid {
  background-color: #0E0B16;
  color: #E7DFDD;
}

.text-input {
  font-size: 16px;
}

.hash-output {
  color: #A239CA;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: pre-wrap;
}

.hash-heading {
  color: #E7DFDD;
  font-weight: normal;
}
